.literal {
color: blue;
font-size: 150%;
}

.stroke_count {
font-size: 50%;
color: #ff66ff;
}

.grade {
font-size: 50%;
color: gray;
}

.meaning {
color: green;
}

.extra_meanings {
color: #6699cc;
}

.onyomis {
color: orange;
font-size: 75%;
}

.kunyomis {
color: red;
font-size: 75%;
}

.example {
font-size: 75%;
}